<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../../../public/stylesheets/standard-css.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/teacher-content.css"/>
    <link rel="icon" href="images/favicon.png" type="image/png" sizes="32x32">
</head>

<body>
<% include ../way-now.ejs %>
<% include menu.ejs %>
<section class="page-content" data-content="viewData" data-path="activity">
    <article class="item add activity" data-item="activity">
            <figure>
            <h2>Nova atividade</h2>
            </figure>
            <img class="add-activity" src="images/content/itens/new-file.png"/>
            <p>Inserir nova atividade para disciplinas</p>
    </article>
    <% data.disciplines.forEach(function(discipline) { %>
    <article class="item discipline activity" data-item="discipline-activity" data-id="<%= discipline.id_discipline %>">
        <figure>
        <h2><%= discipline.name_discipline %></h2>
        </figure>
        <p>Manipule as atividades da disciplina</p>
    </article>
    <% }); %>
</section>
<% include ./topics/discipline-topic.ejs %>

<% include ../../../public/scripts/standard-scripts.ejs %>
<script src="/scripts/routes/teacher/teacher.js"></script>
<script src="/scripts/dataElements/alternative-question.js"></script>
<script src="/scripts/dataElements/question.js"></script>
<script src="/scripts/dataElements/activity.js"></script>
<script src="/scripts/dataElements/structure-activity.js"></script>
<script src="/scripts/dataElements/topic.js"></script>
</body>

</html>