<section class="menu">
    <figure class="menu-identify">
            <img class="icon-identify" src="/images/menu/<%=user.type %>.png"/>
    </figure>
    <figure class="menu-buttom selected" data-menu="viewData">
        <img class="menu-icon" src="/images/menu/activity.png"/>
        <p>Atividades</p>
    </figure>
    <figure class="menu-buttom" data-menu="viewDataTopic">
        <img class="menu-icon" src="/images/menu/topic.png"/>
        <p>Tópicos colaborativos</p>
    </figure>
</section>
