<section class="menu">
    <figure class="menu-buttom" data-menu="viewData">
        <img class="menu-icon" src="/images/menu/folder.png"/>
        <p>Registros</p>
    </figure>
    <figure class="menu-buttom" data-menu="import">
        <img class="menu-icon" src="/images/menu/folder2.png"/>
        <p>Importação</p>
    </figure>
</section>
