<!DOCTYPE html>
<html>
<body>
    <section class="page-content big-content" data-content="generic">
        <figure class="title-content">
            <img src="images/content/itens/file.png"/>
            <h2>Atividades da disciplina</h2>
        </figure>
        <section class="big-inner-content table-content">
            <table class="registers">
                <thead>
                    <tr class="row">
                        <td class="col-lg-3">
                            Nome
                        </td>
                        <td class="col-lg-4">
                            Descrição
                        </td>
                        <td class="col-lg-2">
                            pontuação
                        </td>
                        <td class="col-lg-3">
                            Ação
                        </td>
                    </tr>
                </thead>
                <tbody>
                <% data.disciplineActivity.forEach(function(activity) { 
                    var asResolved = false;
                    var point = 0;
                    %>
                    <tr class="row view-row not-edit">
                        <td class="col-lg-3">
                        <%= activity.name_activity %>
                        </td>
                        <td class="col-lg-4">
                            <%= activity.description_activity %>
                        </td>
                        <td class="col-lg-2">
                            <% for(var studentActivity of data.studentActivity) { 
                                    if(activity.id_activity == studentActivity.id_activity)  {
                                        asResolved = true;
                                        point = studentActivity.point_rechead;
                                        break;
                                    }
                                }
                            %>
                            <% if(!asResolved) { %>
                                <label class="point-activity">Atividade não realizada</label>
                            <% }else{  %>
                                <label class="point-activity"><%= point %></label>
                            <% }%>
                        </td>
                        <td class="col-lg-3 content-tools" data-path="activity">
                            <% if(!asResolved) { %>
                                <div class="tool open-edit" data-item="activity" data-id="<%= activity.id_activity %>"></div>
                            <% }  %>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </section>
    </section>
    <script class="script-edit-activity" data-content="generic">
    $('.open-edit').on('click', function(){
        var user = JSON.parse(localStorage.getItem('user'));
        var data = { 
            'path' : $(this).parent().attr('data-path'),  
            'file' : $(this).attr('data-item'),
            'controller' : {
                'type': 'search',
                'entity': 'studentActivity',
                'parameters': {
                    'idActivity' : $(this).attr('data-id')
                }
            }
        }
        var key = false;
        $('.page-content').fadeOut(200, function(){
            $('[data-content="generic"]').remove();
            $.ajax({
                url : '/student/route/',
                data : data,
                dataType : 'html',
                async : false,
                type: 'GET'
            }).done(function(data){
                $('body').append($(data)[1]);
                $('body').append($(data)[3]);
                setTimeout(function(){
                    $('.page-content[data-content="generic"]').fadeIn(200);
                },200);
                if(!key){
                    if(!mobile){
                        $('.inner-header h1').append('<span> > '+$('.page-content[data-content="generic"] .title-content h2').text() +'</span>');
                    }
                    key = true;
                }
            });
        });
    });
    </script>
</body>
</html>