.menu {
    background-color: #17b377;
    width: 7%;
    vertical-align: top;
    float: left;
    box-shadow: inset 5px 5px 5px 1px rgba(0,0,0,.1), 
    inset 0 -1px 0 rgba(0,0,0,.07), 
    1px 1px 2px 1px rgba(0,0,0,0.4);
}
.menu .menu-identify {
    display: inline-block;
    background-color: #2c2b2e;
    width: 100%;
    padding: 1em 0;
    text-align: center;
}
.menu figure {
    text-align: center;
    padding: 0.5em 0em;
    cursor: pointer;
    color: #ffffff;
}
.menu .menu-buttom.selected, .menu .menu-buttom:hover{
    background-color: #dae0da;
    color: #2c2b2e;
    transition: 0.3s ease-in;
}

.menu figure img {
    width: 60%;
}

/*Menu activity*/
.activity-menu {
    background-color: #2c2b2e;
    padding: 0;
    color: white;
}
.activity-menu li {
    padding: 0.2em 0.4em;
    cursor: pointer;
}
.activity-menu li.questions {
    display: none;
}
.activity-menu .active{
    background-color: #dae0da;
    color: #2c2b2e;
    box-shadow: inset 5px 5px 5px 1px rgba(0,0,0,.1), 
    inset 0 -1px 0 rgba(0,0,0,.07), 
    1px 1px 2px 1px rgba(0,0,0,0.4);
}
.activity-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17b377;
    width: 100%;
    padding: 0.5em 0;
    bottom: 0;
    position: absolute;
}
.activity-action button#save-activity {
    margin: 0 0.4em 0 0;
}
.activity-action label,
.item-question label {
    margin: 0;
}

/*Menu activity*/

/*Menu edit*/
.edit-menu {
    background-color: #2c2b2e;
    padding: 0;
    color: white;
}
.edit-menu li {
    padding: 0.2em 0.4em;
    cursor: pointer;
}
.edit-menu .active{
    background-color: #dae0da;
    color: #2c2b2e;
    box-shadow: inset 5px 5px 5px 1px rgba(0,0,0,.1), 
    inset 0 -1px 0 rgba(0,0,0,.07), 
    1px 1px 2px 1px rgba(0,0,0,0.4);
}
.edit-action {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17b377;
    width: 100%;
    padding: 0.5em 0;
    bottom: 0;
    position: absolute;
}
.edit-action button#edit-user {
    margin: 0 0.4em 0 0;
}
.edit-action label {
    margin: 0;
}
/*Menu edit*/

/*Menu students rewards */
.reward-menu {
    background-color: #2c2b2e;
    padding: 0;
    color: white;
}
.reward-menu li {
    padding: 0.2em 0.4em;
    cursor: pointer;
}
.reward-menu li label{
    margin: 0;
}
.reward-menu .active{
    background-color: #dae0da;
    color: #2c2b2e;
    box-shadow: inset 5px 5px 5px 1px rgba(0,0,0,.1), 
    inset 0 -1px 0 rgba(0,0,0,.07), 
    1px 1px 2px 1px rgba(0,0,0,0.4);
}

/*Menu students rewards */
@media all and (max-width: 1023px){
    .menu {
        display: flex;
        vertical-align: top;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: fixed;
        top: 70px;
        float: none;
        box-shadow: none;
        z-index: 1;
    }
    .menu .menu-identify {
        display: none;
    }
    .menu figure {
        padding: 0.5em 0em;
        width: 25%;
        font-size: 0.8em;
    }
    .menu figure img {
        width: 60%;
    }

    /*content menu*/
    .content-menu .inner-menu{
        position: fixed;
        bottom: 0;
        z-index: 1;
    }
    .content-menu .inner-menu ul {
        display: flex;
        justify-content: center;
    }
    .content-menu .inner-menu .edit-action{
        position: relative;
    }
    .content-menu .content{
        padding:0;
    }
    .content-menu .content .edit-item {
        padding: 1em;
    }
    .content-menu .content .edit-item h4{
        margin: 0 0 0.2em 0;
    }
    .content-menu .content label{
        margin: 0;
    }
    .content-menu .content input,
    .content-menu .content select {
        width: 100%;
        margin: 0.2em 0 0 0;
    }
    .content-menu .content .type-avatar{
        justify-content: center;
    }
    .content-menu .content .type-avatar div{
        width: 20%;
    }
    .content-menu .content .avatar {
        width: 40%;
    }
    /*content menu*/
}