body{
    overflow: hidden;
}
section, header {
    display: inline-block;
}
.page-content:not([data-content="viewData"]){
    display: none;
}
.page-content {
    width: 80%;
    margin: 4% 6.5%;
    position: relative;
}
.item{
    display: inline-block;
    width: 28%;
    cursor: pointer;
}
.item:not(:last-child){
    margin: 0 5% 0 0;
}
.item figure {
    display: inline-block;
    background-color: #17b377;
    color: #ffffff;
    width: 100%;
    vertical-align: middle;
}
.item figure img{
    display: inline-block;
}
.item h2 {
    display: inline-block;
    text-align: center;
}
.item p {
    background-color: #dae0da;
    padding: 2em 0.5em;
    text-align: center;
}
.big-inner-content {
    display: flex;
    width: 94.6%;
    padding: 1.5em 1.8em;
}
.page-content.big-content {
    background-color: #dae0da;
}
.title-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #17b377;
    color: #ffffff;
    font-size: 0.8em;
}
.title-content img {
    margin: 0 2em;
}
.title-description {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}
.title-description img {
    width: 8%;
    margin: 0 1em 0 0;
}
.medium-article-content{
    background-color: #ffffff;
    width: 70%;
    padding: 1em;
}
.medium-article-content ul {
    margin: 0 0 0 1em;
}
.medium-article-content ul li{
    line-height: 2.5em;
}
.table-content {
    width: 100%;
    padding: 0;
}
.table-content table{
    width: 100%;
    font-size: 1em;
}

.table-content thead td {
    font-weight: bold;
}
.table-content table td {
    padding: 0.2em 2em;
    line-height: 2em;
}
.border-top-right-left{
    background-color: #17b377;
    color:#ffffff;
    border-top: 0.1em solid #2c2b2e;
    border-right: 0.1em solid #2c2b2e;
    border-left: 0.1em solid #2c2b2e;
}
.border-right-bottom-left{
    border-right: 0.1em solid #2c2b2e;
    border-bottom: 0.1em solid #2c2b2e;
    border-left: 0.1em solid #2c2b2e;
}
.view-row{
    background-color:#ffffff;
}
.view-row:nth-child(4n+3) {
    background-color: #dae0da;
}

.edit-select{
    background-color: #17b377 !important;
}
.submit{
    background-color: #17b377;
    color: #ffffff;
    width: 50%;
    padding: 0.5em;
    font-size: 1em;
    box-shadow: none;
    border: none;
}
.hidden{
    display: none;
    transition: 0.2s ease;
}
.tool{
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
}
.open-edit{
    background-image: url('../images/content/tools/edit.png');
}
.remove{
    background-image: url('../images/content/tools/remove.png');
}
.edit{
    background-image: url('../images/content/tools/save.png');
}
.cancel{
    background-image: url('../images/content/tools/cancel.png');
}

/*subscript bootstrap*/
.row{
    margin: 0;
}
 