body{
    overflow: hidden;
}
section, header {
    display: inline-block;
}

body h2{
    font-size: 2em;
}
body h3{
    font-size: 1.5em;
}
body h4{
    font-size: 1.2em;
    margin: 0 0 0.5em 0;
}
body h5{
    font-size: 1em;
}
label{
    margin: 0;
}
.page-content:not([data-content="viewData"]){
    display: none;
}
.page-content {
    width: 80%;
    margin: 4% 6.5%;
    position: relative;
}
.item{
    display: inline-block;
    background-color: #dae0da;
    width: 22%;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
.item:not(:nth-child(4n+4)) {
    margin: 0 2% 2% 0;
}
.item figure {
    display: inline-block;
    background-color: #17b377;
    color: #ffffff;
    width: 100%;
    vertical-align: middle;
    text-align: left;
}
.item figure img{
    display: inline-block;
}
.item h2 {
    display: inline-block;
    padding: 0.2em;
    font-size: 1.2em;
    text-align: center;
    vertical-align: top;
}
.item img + p {
    color: #ffffff;
    padding: 0.5em;
}
.item.add{
    background-color: #2c2b2e;
}
.item img.add-activity {
    width: 15%;
    padding: 0.5em 0;
}
.item p {
    padding: 2em 0.5em;
    text-align: center;
}
.big-inner-content {
    display: flex;
    width: 94.6%;
    padding: 1.5em 1.8em;
}
.page-content.big-content {
    background-color: #dae0da;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
.title-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #17b377;
    color: #ffffff;
    font-size: 0.8em;
}
.title-content img {
    width: 5%;
    padding: 0.5em;
    margin: 0 0.2em;
}
.title-description {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}
.title-description img {
    width: 8%;
    margin: 0 1em 0 0;
}
.medium-article-content{
    background-color: #ffffff;
    width: 70%;
    padding: 1em;
}
.medium-article-content ul {
    margin: 0 0 0 1em;
}
.medium-article-content ul li{
    line-height: 2.5em;
}
.table-content {
    width: 100%;
    max-height: 400px;
    padding: 0;
    overflow-y: auto;
}
.table-content table{
    width: 100%;
    font-size: 1em;
}
.table-content thead tr.row{
    width: 78.5%;
    position: fixed;
    background-color: #dae0da;
    z-index: 2;
}

.table-content thead td {
    font-weight: bold;
}
.table-content table td {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 2em;
    line-height: 2em;
}
.table-content table tbody tr:first-child{
    margin: 2.5em 0 0 0;
}
.table-content ul {
    list-style: none;
    margin: 0;
}
.border-top-right-left{
    background-color: #17b377;
    color:#ffffff;
    border-top: 0.1em solid #2c2b2e;
    border-right: 0.1em solid #2c2b2e;
    border-left: 0.1em solid #2c2b2e;
}
.border-right-bottom-left{
    border-right: 0.1em solid #2c2b2e;
    border-bottom: 0.1em solid #2c2b2e;
    border-left: 0.1em solid #2c2b2e;
}
.view-row{
    background-color:#ffffff;
}
.view-row:nth-child(4n+3) {
    background-color: #dae0da;
}
.content-config {
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 300px;
    background-color: #ffffff;
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
.content-config h4{
    width: 100%;
}
.content-item{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    padding: 0;
}
.config-item {
    display: flex;
    flex-wrap: wrap;
}
.config-item textarea,
.config-item input[type="text"] {
    width: 100%;
}
.edit-select{
    background-color: #17b377 !important;
}
.submit{
    background-color: #17b377;
    color: #ffffff;
    width: 50%;
    padding: 0.5em;
    font-size: 1em;
    box-shadow: none;
    border: none;
}
.hidden{
    display: none;
    transition: 0.2s ease;
}

.tool{
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 2em;
    height: 2em;
    vertical-align: middle;
    cursor: pointer;
}
button.tool{
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
}
button.tool.btn-add {
    background-color: #17b377;
    padding: 20px;
    border-radius: 100%;
    background-size: 50%;
}
.open-edit{
    background-image: url('../images/content/tools/edit.png');
}
.remove{
    background-image: url('../images/content/tools/remove.png');
}
.edit{
    background-image: url('../images/content/tools/save.png');
}
.cancel{
    background-image: url('../images/content/tools/cancel.png');
}
.open-config{
    background-image: url('../images/content/tools/lab.png');
}
.open-view{
    background-image: url('../images/content/tools/view.png');
}
.btn-add {
    background-image: url('../images/content/tools/add.png');
}
.btn-correct{
    background-image: url('../images/content/tools/correct.png');
}
figure.enable {
    text-align: center;
}
figure.enable img {
    width: 100%;
}
/*rewards*/
.reward.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(44, 43, 46, 0.4);
    z-index: 10;
}
.reward.background .close {
    float: none;
    position: absolute;
    top: 1em;
    right: 1em;
    color: #ffffff;
    text-shadow: none;
    opacity: 1;
}
.reward.background .close:hover{
    color: #ffffff;
    cursor:pointer;
}
.reward figure {
    background-color: #17b377;
    border-radius: 100%;
    padding: 1em;
}
.reward.background figure{
    width: 30%;
    padding: 4em;
}
.reward.background .animated{
    animation: rotate 1s;
}
.reward img{
    width:100%;
}
/*rewards*/

/*User edit*/
.user-edit{
    flex-wrap: wrap;
    overflow-y: hidden;
}
.user-edit header{
display: flex;
justify-content: space-between;
padding: 0.5em 0;
}
.user-edit .content-edit{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 1em;
    margin: 0 0 1em 0;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
.user-edit .user-content {
    overflow-y: auto;
}
.user-edit .field {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 0;
}
.user-edit .user-content .section-edit:not(:first-child){
    display: none;
}
.user-edit .user-content .edit-item{
    padding: 0;
}
.user-edit .section-avatar{
    padding: 0;
}
.user-edit .type-avatar {
    display: flex;
    padding: 0;
}
.user-edit .type-avatar div {
    display: flex;
    align-items: center;
    background-color: #17b377;
    width: 10%;
    padding: 0.2em;
    margin: 0 1em 0 0;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2),
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
    cursor: pointer;
}
.user-edit .type-avatar div.active {
    background-color:#2c2b2e;
    border: 2px solid rgb(23, 179, 119);
}
.user-edit .type-avatar div.active svg path {
    fill: #17b377;
}
.user-edit .user-content .content-avatar:not(:first-child) {
    display: none;
}
.user-edit .content-avatar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1em 0;
    margin: 1em 0;
    background-color: #ffffff;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}

.user-edit .content-avatar .avatar {
    width: 100%;
    background-color: #17b377;
    border-radius: 50%;
    padding: 1em;
    margin: 0 1em 1em 0;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}

.user-edit .content-avatar .avatar.active {
    border: 2px solid #2c2b2e;
    box-shadow: inset 5px 5px 5px 1px rgba(0,0,0,.1), 
    0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
/**/
.topic-content .content-config{
    align-content: baseline;
}
.type-topic .item-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.type-topic .item-type:not(:last-child) {
    margin: 0 0.5em 0 0;
}
.type-topic{
    justify-content: flex-start;
}
.type-topic figure {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 5px;
    margin: 0 0 0.5em 0;
    cursor: pointer;
}
.type-topic figure.active {
    border: 2px solid #2c2b2e;
    border-radius: 100%;
}
.type-topic figure img{
    width: 100%;
    height: 100%;
}
.type-topic figure label{
    width: 100%;
    text-align: center;
    margin: 0;
}
.points label {
    margin: 0;
}
/*utils*/
.inactive{
    opacity: 0.6 !important;
    pointer-events: none !important;
}
button:focus {
    outline: 0;
    outline: 0;
}
.hidden{
    display: none !important;
}
.opacity{
    opacity: 0.6 !important;
}
.scaleMin{
    transition: transform 1s linear;
    transform: scale(0);
}

.scaleMax{
    transform: scale(1);
}
.arrow.top {
    width: 10px;
    height: 10px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.arrow.bottom {
    width: 10px;
    height: 10px;
    border-top: 5px solid white;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
/*utils*/

/*subscript bootstrap*/
.row{
    margin: 0;
}
.btn {
    border-radius: 0px;
}
.toggle-handle {
    background-color: #dae0da;
}

/*keyframes*/
@keyframes rotate{
    10% {transform: rotate3d(0, 20, 0, 36deg); }
    20% {transform: rotate3d(0, 20, 0, 72deg); }
    30% {transform: rotate3d(0, 20, 0, 108deg); }
    40% {transform: rotate3d(0, 20, 0, 144deg); }
    50% {transform: rotate3d(0, 20, 0, 180deg); }
    60% {transform: rotate3d(0, 20, 0, 216deg); }
    70% {transform: rotate3d(0, 20, 0, 252deg); }
    80% {transform: rotate3d(0, 20, 0, 288deg); }
    90% {transform: rotate3d(0, 20, 0, 324deg); }
    100% {transform: rotate3d(0, 20, 0, 360deg); }
}
/*keyframes*/

@media all and (max-width: 1023px){
    body {
        overflow: auto;
    }
    input[type=checkbox], 
    input[type=radio]{
        width: 50%;
        height: 1.5em;
    }
    .page-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 0 0 1em 0;
        margin: 0;
    }
    .big-inner-content {
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
        margin: 70px 0 100px 0;
    }
    .item,
    .item:not(:nth-child(4n+4)) {
        width: 90%;
        margin:0 auto 1em;
    }
    article.item:first-child {
        margin: 90px auto 1em;
    }
    .title-content{
        display: none;
        justify-content: center;
        width: 100%;
        position: fixed;
        z-index: 3;
        background-color: #2c2b2e;
    }
    .title-content img {
        width: 15%;
    }
    .title-content h2{
        font-size: 1.5em;
    }
    .table-content{
        max-height: 100%;
    }
    .table-content thead tr.row{
        width: 100%;
        position: relative;
    }
    .table-content table tbody tr:first-child {
        margin: 0;
    }
    .table-content table td {
        text-align: center;
    }
    .reward figure {
        width: 50%;
        border-radius: 50%;
    }
    .content .reward figure {
        width: 100%;
    }
    .reward.background figure {
        width: 90%;
    }
    .section-edit {
        padding: 0 1em;
    }
    .tool{
        width: 2.5em;
        height: 2.5em;
    }
}