body{
    overflow: hidden;
}
section, header {
    display: inline-block;
}

body h4{
    margin: 0 0 0.5em 0;
}
.page-content:not([data-content="viewData"]){
    display: none;
}
.page-content {
    width: 80%;
    margin: 4% 6.5%;
    position: relative;
}
.item{
    display: inline-block;
    background-color: #dae0da;
    width: 28%;
    cursor: pointer;
    vertical-align: top;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
.item:not(:nth-child(3n+3)) {
    margin: 0 5% 5% 0;
}
.item figure {
    display: inline-block;
    background-color: #17b377;
    color: #ffffff;
    width: 100%;
    vertical-align: middle;
    text-align: left;
}
.item figure img{
    display: inline-block;
}
.item h2 {
    display: inline-block;
    font-size: 1.5em;
    text-align: center;
}
.item img + p {
    color: #ffffff;
    padding: 0.5em;
}
.item.add{
    background-color: #2c2b2e;
}
.item img.add-activity {
    width: 15%;
    padding: 0.5em 0;
}
.item p {
    padding: 2em 0.5em;
    text-align: center;
}
.big-inner-content {
    display: flex;
    width: 94.6%;
    padding: 1.5em 1.8em;
}
.page-content.big-content {
    background-color: #dae0da;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
.title-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #17b377;
    color: #ffffff;
    font-size: 0.8em;
}
.title-content img {
    width: 5%;
    padding: 0.5em;
    margin: 0 0.2em;
}
.title-description {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}
.title-description img {
    width: 8%;
    margin: 0 1em 0 0;
}
.medium-article-content{
    background-color: #ffffff;
    width: 70%;
    padding: 1em;
}
.medium-article-content ul {
    margin: 0 0 0 1em;
}
.medium-article-content ul li{
    line-height: 2.5em;
}
.table-content {
    width: 100%;
    max-height: 400px;
    padding: 0;
    overflow-y: auto;
}
.table-content table{
    width: 100%;
    font-size: 1em;
}
.table-content thead tr.row{
    width: 78.5%;
    position: fixed;
    background-color: #dae0da;
    z-index: 2;
}

.table-content thead td {
    font-weight: bold;
}
.table-content table td {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em 2em;
    line-height: 2em;
}
.table-content table tbody tr:first-child{
    margin: 2.5em 0 0 0;
}
.table-content ul {
    list-style: none;
    margin: 0;
}
.border-top-right-left{
    background-color: #17b377;
    color:#ffffff;
    border-top: 0.1em solid #2c2b2e;
    border-right: 0.1em solid #2c2b2e;
    border-left: 0.1em solid #2c2b2e;
}
.border-right-bottom-left{
    border-right: 0.1em solid #2c2b2e;
    border-bottom: 0.1em solid #2c2b2e;
    border-left: 0.1em solid #2c2b2e;
}
.view-row{
    background-color:#ffffff;
}
.view-row:nth-child(4n+3) {
    background-color: #dae0da;
}

.edit-select{
    background-color: #17b377 !important;
}
.submit{
    background-color: #17b377;
    color: #ffffff;
    width: 50%;
    padding: 0.5em;
    font-size: 1em;
    box-shadow: none;
    border: none;
}
.hidden{
    display: none;
    transition: 0.2s ease;
}

.tool{
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    cursor: pointer;
}
button.tool{
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
}
button.tool.btn-add {
    background-color: #17b377;
    padding: 20px;
    border-radius: 100%;
    background-size: 50%;
}
.open-edit{
    background-image: url('../images/content/tools/edit.png');
}
.remove{
    background-image: url('../images/content/tools/remove.png');
}
.edit{
    background-image: url('../images/content/tools/save.png');
}
.cancel{
    background-image: url('../images/content/tools/cancel.png');
}
.open-config{
    background-image: url('../images/content/tools/lab.png');
}
.open-view{
    background-image: url('../images/content/tools/view.png');
}
.btn-add {
    background-image: url('../images/content/tools/add.png');
}
.btn-correct{
    background-image: url('../images/content/tools/correct.png');
}
figure.enable {
    text-align: center;
}
figure.enable img {
    width: 100%;
}
/*rewards*/
.reward figure {
    background-color: #17b377;
    border-radius: 100%;
    padding: 1em;
}
.reward img{
    width:100%;
}
/*rewards*/

/*utils*/
.inactive{
    opacity: 0.6 !important;
    pointer-events: none !important;
}
button:focus {
    outline: 0;
    outline: 0;
}
/*utils*/

/*subscript bootstrap*/
.row{
    margin: 0;
}
.btn {
    border-radius: 0px;
}
.toggle-handle {
    background-color: #dae0da;
}

@media all and (max-width: 1023px){
    body {
        overflow: auto;
    }
    .page-content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 170px 0 1em 0;
        margin: 0;
    }
    .item,
    .item:not(:nth-child(3n+3)) {
        width: 90%;
        margin:0 auto 1em;
    }
}