.table-content {
    overflow-y: hidden;
}
.activity-content{
    overflow-y: auto;
}
.activity-content header {
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
}
.section-question {
    min-height: 300px;
    padding: 0;
}
.section-question .question-tools {
    display: flex;
    align-items: center;
    padding: 0;
}
.section-question .type-question {
    display: flex;
    padding: 0;
}
.section-question .question-action {
    padding: 0;
    text-align: right;
}
.section-question .question,
.section-question .alternative {
    padding: 0 0 0.5em 0;
}
.type-question figure {
    text-align: center;
    background-color: #17b377;
    margin: 0 1em 0 0;
    padding: 0.2em;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2),
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
    cursor: pointer;
}
.type-question figure.active {
    background-color:#2c2b2e;
    border: 2px solid rgb(23, 179, 119);
}
.type-question figure img {
    width: 70%;
}
.content-question {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
.content-question > div:not(:first-child) {
    display: none;
}
p[contenteditable] {
    width: 100%;
    border: 1px solid #17b377;
}

.alternative table tr{
    display: flex;
}
.alternative table tbody tr:first-child {
    margin: 0;
}
.alternative table tr td{
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    text-align: left;
}
.alternative table tbody tr td.content-tool{
    justify-content: center;
}
.alternative table tr td:not(:first-child){
    text-indent: 0.5em;
}
.activity-config,
.activity-config .config-item {
    padding: 0;
}
.activity-config .content-config{
    display: flex;
    align-content: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #ffffff;
    padding: 1em;
    margin: 0 0 1em 0;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
.activity-config .config-item.reward {
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    justify-content: space-around;
    text-align: center;
}
.activity-config .config-item input[type="text"] {
    width: 95%;
}
.activity-config .config-item textarea {
    width: 95%;
    height: 65%;
    resize: none;
}
.activity-config .config-item.reward h4 {
    text-align: left;
}
.activity-config .config-item.reward figure{
    width: 100%;
    margin: 0 1em 0 0;
    cursor:pointer;
    box-shadow: 0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2), 
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
.activity-config .config-item.reward figure.active {
    border: 2px solid #2c2b2e;
    box-shadow:inset 5px 5px 5px 1px rgba(0,0,0,.1), 
    0 2px 2px 0 rgba(44, 43, 46, 0.2), 
    0 3px 1px -2px rgba(44, 43, 46, 0.2),
    5px 5px 5px 0 rgba(44, 43, 46, 0.2);
}
.activity-config .config-item.reward img {
    width: 100%;
}