<!DOCTYPE html>
<html>
<head>
    
</head>

<body>

<header>
    <h1>
        importação administrador
    </h1>
</header>
<section>
    <input type="file" name="importAdmin"/>
</section>
<script src="/frameworks/jquery-3.2.1.min.js"></script>
</body>
</html>
