<!DOCTYPE html>
<html>
<head>
    
</head>

<body>

<header>
    <h1>
        importação administrador
    </h1>
</header>
<section></section>
<script href="../../../public/frameworks/jquery-3.2.1.min.js"></script>
<script>
    $(document).ready(function(){
        $('section').append('<input type="text" name="importAdmin">');
    });
</script>
</body>
</html>
