<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/clear.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/header.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
</head>

<body>
<header class="header-login">
    <section class="user-access">
    <div class="item-access">
        <img src="images/login/user.png"/>
        <input type="text" name="user" placeholder="Login"/>
    </div>
    <div class="item-access">
        <img src="images/login/password.png"/>
        <input type="password" name="password" placeholder="Senha"/>
    </div>  
    <div class="item-access">
        <a>Alterar senha?</a>
        <button class="submit">Entrar</button>
    </div>
    </section>
    <article class="software-identify">
        <h1>School tasks</h1>
        <h2>Evolua seu conhecimento com atividades e colaboração.</h2>
    </article>
</header>
<figure class="login-background">
        <img src="images/login/background.png"/>
</figure>
<% include ../../public/scripts/standard-scripts.ejs %>
<script src="/scripts/login.js"></script>
</body>
</html>