<section class="col-xl-12 content-avatar" data-content="man">
    <div class="col-xl-2 avatar"  data-avatar="/man/001-man.svg">
        <% include ../../public/svg/users/man/001-man.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/man/002-man.svg">
        <% include ../../public/svg/users/man/002-man.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/man/003-man.svg">
        <% include ../../public/svg/users/man/003-man.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/man/004-man.svg">
        <% include ../../public/svg/users/man/004-man.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/man/005-man.svg">
        <% include ../../public/svg/users/man/005-man.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/man/006-man.svg">
        <% include ../../public/svg/users/man/006-man.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/man/007-man.svg">
        <% include ../../public/svg/users/man/007-man.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/man/008-man.svg">
        <% include ../../public/svg/users/man/008-man.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/man/009-man.svg">
        <% include ../../public/svg/users/man/009-man.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/man/0010-man.svg">
        <% include ../../public/svg/users/man/010-man.svg %>
    </div>
</section>
<section class="col-xl-12 content-avatar" data-content="woman">
    <div class="col-xl-2 avatar"  data-avatar="/woman/001-woman.svg">
        <% include ../../public/svg/users/woman/001-woman.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/woman/002-woman.svg">
        <% include ../../public/svg/users/woman/002-woman.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/woman/003-woman.svg">
        <% include ../../public/svg/users/woman/003-woman.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/woman/004-woman.svg">
        <% include ../../public/svg/users/woman/004-woman.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/woman/005-woman.svg">
        <% include ../../public/svg/users/woman/005-woman.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/woman/006-woman.svg">
        <% include ../../public/svg/users/woman/006-woman.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/woman/007-woman.svg">
        <% include ../../public/svg/users/woman/007-woman.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/woman/008-woman.svg">
        <% include ../../public/svg/users/woman/008-woman.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/woman/009-woman.svg">
        <% include ../../public/svg/users/woman/009-woman.svg %>
    </div>
    <div class="col-xl-2 avatar"  data-avatar="/woman/010-woman.svg">
        <% include ../../public/svg/users/woman/010-woman.svg %>
    </div>
</section>