<header class="inner-header">
    <figure class="menu-identify">
        <img class="icon-identify" src="/images/menu/admin.png"/>
    </figure>
    <h1>
        Página inicial  
        <span>
            > Registros
        </span>
    </h1>
    <section class="identify-user">
        <figure>
            <img src="/images/header/user.png"/>
        </figure>
        <div>
            <a href="/logout">Desconectar</a>
        </div>
    </section>
</header>