<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
    <% include ../../../public/stylesheets/standard-css.ejs %>
</head>

<body>
<% include ../way-now.ejs %>
<% include menu.ejs %>
<section class="page-content" data-content="viewData">
    <article class="item" data-item="admin">
        <figure>
        <img src=""/>
        <h2>Administrador</h2>
        </figure>
        <p>Visualize os dados dos administradores onde você pode edita-los e remove-los.</p>
    </article>
</section>
<section class="page-content" data-content="import">
    <article class="item" data-item="admin">
        <figure>
        <img src =""/>
        <h2>Administrador</h2>
        </figure>
        <p>Faça importação dos administradores do sistema.</p>
    </article>
</section>
<% include ../../../public/scripts/standard-scripts.ejs %>
<script src="/scripts/routes/admin/admin.js"></script>
</body>

</html>