<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../../../public/stylesheets/standard-css.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/admin.css"/>
</head>

<body>
<% include ../way-now.ejs %>
<% include menu.ejs %>
<section class="page-content" data-content="viewData">
    <article class="item" data-item="admin">
        <figure>
        <img src=""/>
        <h2>Administrador</h2>
        </figure>
        <p>Visualize os dados dos administradores onde você pode edita-los e remove-los.</p>
    </article>
    <article class="item" data-item="course">
        <figure>
        <img src=""/>
        <h2>Curso</h2>
        </figure>
        <p>Visualize os dados dos cursos onde você pode edita-los e remove-los.</p>
    </article>
    <article class="item" data-item="discipline">
        <figure>
        <img src=""/>
        <h2>Disciplina</h2>
        </figure>
        <p>Visualize os dados das disciplinas onde você pode edita-los e remove-los.</p>
    </article>
</section>
<section class="page-content" data-content="import">
    <article class="item" data-item="admin">
        <figure>
        <img src =""/>
        <h2>Administrador</h2>
        </figure>
        <p>Faça importação dos administradores do sistema.</p>
    </article>
    <article class="item" data-item="course">
        <figure>
        <img src =""/>
        <h2>Curso</h2>
        </figure>
        <p>Faça importação dos cursos da instituição.</p>
    </article>
    <article class="item" data-item="discipline">
        <figure>
        <img src =""/>
        <h2>Disciplina</h2>
        </figure>
        <p>Faça importação das disciplinas da instituição.</p>
    </article>
</section>
<% include ../../../public/scripts/standard-scripts.ejs %>
<script src="/scripts/routes/admin/admin.js"></script>
<script src="/scripts/searchData/admin/searchRegistres.js"></script>
</body>

</html>