<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../../public/stylesheets/clear.css"/>
</head>

<body>
<% include menu.ejs %>
<% include ../way-now.ejs %>
<section class="content" data-content="viewData">
    <article class="item" data-item="admin">
        <figure>
        <img src=""/>
        <h2>Administrador</h2>
        </figure>
        <p>Visualize os dados dos administradores onde você pode edita-los e remove-los.</p>
    </article>
</section>
<section class="content" data-content="import">
    <article class="item" data-item="admin">
        <figure>
        <img src =""/>
        <h2>Administrador</h2>
        </figure>
        <p>Faça importação dos administradores do sistema.</p>
    </article>
</section>
<a href="/logout">Desconectar</a>
<% include ../../../public/scripts/standard-scripts.ejs %>
<script src="/scripts/routes/admin/admin.js"></script>
</body>

</html>