<section class="content">
    <div class="menu-buttom" data-menu="registre">
        <div class="icon registre"></div>
        <p>Registros</p>
    </div>
    <div class="menu-buttom" data-menu="import">
        <div class="icon import"></div>
        <p>Importação</p>
    </div>
</section>
