<!DOCTYPE html>
<html>

<body>
    <section class="content" data-content="generic">
        <table class="registres">
            <thead>
                <tr>
                    <td>
                        Nome
                    </td>
                    <td>
                        Registro
                    </td>
                    <td>
                        Ação
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

    <script class="script-admin" data-content="generic">
        (function () {
            $.ajax({
                url: '/admin/getData/admin',
                type: 'GET',
                async : false,
            }).done(function (data) {
                var registres = JSON.parse(data);
                registres.forEach(function (item, i) {
                    var elements = item.row.replace(/\(|\)/gi, '').split(',');
                    $('table.registres tbody').append('<tr id="row' + i + '"></tr>');
                    $('table.registres tbody tr#row' + i + '').after('<tr id="editRow' + i + '" class="hidden"></tr>');
                    elements.forEach(function(j){
                        $('table.registres tbody tr#row' + i + '').append('<td>' + j +'</td>');
                        $('table.registres tbody tr#editRow'+ i + '').append('<td><input type="text" value="' + j + '"/></td>');
                    });
                    $('table.registres tbody tr#row' + i + '').append(
                        '<td><div class="edit"></div>'+
                        '<div class="remove"></div></td>'
                    );
                    $('table.registres tbody tr#editRow' + i + '').append(
                        '<td><div class="save"></div>'+
                        '<div class="cancel"></div></td>'
                    );
                });
            });
        })();
    </script>
</body>

</html>