<!DOCTYPE html>
<html>
<body>
<section class="content" data-content="generic">
    <table class="view-data">

    </table>
</section>

<script class="script-view" data-content="generic">
    (function(){
            $.ajax({
                url : '/getData/admin',
                data: form,
                processData: false,
                contentType: false,
                type: 'GET'
            }).done(function(data){
                console.log(data);
            });
    })();
</script>
</body>
</html>
