<!DOCTYPE html>
<html>

<body>
    <section class="content" data-content="generic">
        <table class="registres">
            <thead>
                <tr>
                    <td>
                        Nome
                    </td>
                    <td>
                        Registro
                    </td>
                    <td>
                        Ação
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </section>

    <script class="script-admin" data-content="generic">
        (function () {
            var tableHead = ['name', 'registre'];
            $.ajax({
                url: '/admin/getData/admin',
                type: 'GET',
                async : false,
            }).done(function (data) {
                var registres = JSON.parse(data);
                registres.forEach(function (item, i) {
                    var elements = item.row.replace(/\(|\)/gi, '').split(',');
                    $('table.registres tbody').append('<tr id="row' + i + '"></tr>');
                    $('table.registres tbody tr#row' + i + '').after('<tr id="editRow' + i + '" class="hidden"></tr>');
                    elements.forEach(function(value, j){
                        $('table.registres tbody tr#row' + i + '').append('<td>' + value +'</td>');
                        $('table.registres tbody tr#editRow'+ i + '').append('<td><input name="'+tableHead[j]+'" type="text" value="' + value + '"/></td>');
                    });
                    $('table.registres tbody tr#row' + i + '').append(
                        '<td><div class="edit" data-id="tr#editRow'+i+'">E</div>'+
                        '<div class="remove" data-id="'+elements[1]+'">R</div></td>'
                    );
                    $('table.registres tbody tr#editRow' + i + '').append(
                        '<td><div class="save" data-id="tr#editRow'+i+'">S</div>'+
                        '<div class="cancel">C</div></td>'
                    );
                });

                $('.remove').on('click', function(){
                    data = { 'registre': $(this).attr('data-id')};
                    $.ajax({
                        url : 'admin/remove',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data : JSON.stringify(data),
                        async : false,
                        type: 'POST'
                    }).done(function(data){
                        console.log(data);
                    });
                });

                $('.save').on('click', function(){
                    data = {
                        'name': $($(this).attr('data-id')).find('input[name="name"]').val(),
                        'registre': $($(this).attr('data-id')).find('input[name="registre"]').val()
                    };
                    $.ajax({
                        url : 'admin/edit',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data : JSON.stringify(data),
                        async : false,
                        type: 'POST'
                    }).done(function(data){
                        console.log(data);
                    });
                });
            });
        })();
    </script>
</body>

</html>