<!DOCTYPE html>
<html>
<body>
    <section class="page-content" data-content="generic">
        <figure class="title-content">
            <img src="images/content/itens/file.png"/>
            <h2>Administrador</h2>
        </figure>
        <section class="big-inner-content">
        <table class="table-content registres">
            <thead>
                <tr>
                    <td>
                        Nome
                    </td>
                    <td>
                        Registro
                    </td>
                    <td>
                        Ação
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </section>
    </section>

    <script class="script-admin" data-content="generic">
        (function () {
            var getData = function(parametres){
            var tableHead = ['name_admin', 'registre'];
            $.ajax({
                url: '/admin/getData/admin',
                type: 'GET',
                data: parametres,
                async : false,
            }).done(function (data) {
                var registres = JSON.parse(data);
                $('table.registres tbody').html('');
                registres.forEach(function (item, i) {                   
                    $('table.registres tbody').append('<tr id="row' + i + '"></tr>');
                    $('table.registres tbody tr#row' + i + '').after('<tr id="editRow' + i + '" class="hidden"></tr>');
                
                    $('table.registres tbody tr#row' + i + '').append('<td>' + item.name_admin +'</td><td>'+item.registre+'</td>');
                    $('table.registres tbody tr#editRow'+ i + '').append(
                        '<td><input name="'+tableHead[0]+'" type="text" value="' + item.name_admin + '"/></td>'+
                        '<td><input name="'+tableHead[1]+'" type="text" value="' + item.registre + '"/></td>');

                    $('table.registres tbody tr#row' + i + '').append(
                        '<td><div class="edit" data-id="tr#editRow'+i+'">E</div>'+
                        '<div class="remove" data-id="'+item.registre+'">R</div></td>'
                    );
                    $('table.registres tbody tr#editRow' + i + '').append(
                        '<td><div class="save" data-id="tr#editRow'+i+'">S</div>'+
                        '<div class="cancel">C</div></td>'
                    );
                });

                $('.remove').on('click', function(){
                    data = { 'registre': $(this).attr('data-id')};
                    $.ajax({
                        url : 'admin/remove',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data : JSON.stringify(data),
                        async : false,
                        type: 'POST'
                    }).done(function(data){
                        if(data > 0){
                            getData({ 'limit': 10, 'offset': 0 });
                            alert('administrador removido!');
                        }
                    });
                });

                $('.save').on('click', function(){
                    data = {
                        'name': $($(this).attr('data-id')).find('input[name="name_admin"]').val(),
                        'registre': $($(this).attr('data-id')).find('input[name="registre"]').val()
                    };
                    $.ajax({
                        url : 'admin/edit',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data : JSON.stringify(data),
                        async : false,
                        type: 'POST'
                    }).done(function(data){
                        if(data > 0){
                            getData({ 'limit': 10, 'offset': 0 });
                            alert('dados alterados!');
                        }
                    });
                });
            });
        }
        getData({ 'limit': 10, 'offset': 0 });
        })();
    </script>
</body>

</html>