<!DOCTYPE html>
<html>
<body>
    <section class="page-content big-content" data-content="generic">
        <figure class="title-content">
            <img src="images/content/itens/file.png"/>
            <h2>Cursos</h2>
        </figure>
        <section class="big-inner-content table-content">
        <table class="registres">
            <thead>
                <tr class="row">
                    <td class="col-lg-4">
                        Nome
                    </td>
                    <td class="col-lg-4">
                        Disciplinas
                    </td>
                    <td class="col-lg-4">
                        Ação
                    </td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </section>
    </section>
    
    <script class="script-course" data-content="generic">
        (function () {
            var getData = function(parametres, callback){
                var tableHead = ['name_course'];
                $.ajax({
                    url: '/admin/getData',
                    type: 'GET',
                    data: parametres,
                    async : false,
                }).done(function (data) {
                    var registres = JSON.parse(data);

                    $('table.registres tbody').html('');
                    registres.forEach(function (item, i) {                   
                        $('table.registres tbody').append('<tr class="row view-row" id="row' + i + '"></tr>');
                        $('table.registres tbody tr#row' + i + '').after('<tr class="row hidden edit-row" id="editRow' + i + '"></tr>');
                    
                        $('table.registres tbody tr#row' + i + '').append(
                            '<td class="col-lg-4">' + item.name_course +'</td>' +
                            '<td class="col-lg-4 discipline" id="courseDiscipline'+item.id_course+'"></td>' +
                            '<td class="col-lg-4 content-tools"><div class="tool open-edit" data-id="tr#editRow'+i+'"></div>'+
                            '<div class="tool remove" data-id="'+item.id_course+'"></div></td>'
                        );
                        
                        $('table.registres tbody tr#editRow'+ i + '').append(
                            '<td class="col-lg-4"><input name="'+tableHead[0]+'" type="text" value="' + item.name_course + '"/></td>'+
                            '<td class="col-lg-4 disciplineEdit" id="courseDiscipline'+item.id_course+'"></td>' +
                            '<td class="col-lg-4"><div class="tool edit" data-id-edit=" '+item.id_course+'" data-id="tr#editRow'+i+'"></div>'+
                            '<div class="tool cancel"></div></td>'
                        );
                    });

                    $('.open-edit').on('click', function(){
                        $('tr[id^="editRow"]').addClass('hidden').slideUp();
                        $($(this).attr('data-id')).removeClass('hidden').slideDown();
                        
                        $('tr[id^="editRow"], .view-row').removeClass('border-top-right-left edit-select border-right-bottom-left');

                        $(this).parents('.view-row').addClass('border-top-right-left edit-select');
                        $($(this).attr('data-id')).addClass('border-right-bottom-left');
                    });

                    $('.cancel').on('click', function(){
                        $('tr[id^="editRow"]').addClass('hidden').slideUp();
                        $('tr[id^="editRow"], .view-row').removeClass('border-top-right-left edit-select border-right-bottom-left');
                    });
        
                    $('.remove').on('click', function(){
                        data = { 'entity': 'course','idCourse': $(this).attr('data-id') };
                        $.ajax({
                            url : 'admin/remove',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data : JSON.stringify(data),
                            async : false,
                            type: 'POST'
                        }).done(function(data){
                            mountStructure(function(){
                                alert('curso removido!');
                            });
                        });
                    });

                    $('.edit').on('click', function(){
                        data = {
                            'entity': 'course',
                            'nameCourse': $($(this).attr('data-id')).find('input[name="name_course"]').val(),
                            'idCourse' : $(this).attr('data-id-edit')
                        };

                        $.ajax({
                            url : 'admin/edit',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            data : JSON.stringify(data),
                            async : false,
                            type: 'POST'
                        }).done(function(data){
                            mountStructure(function(){
                                alert('dados alterados!');
                            });
                        });
                    });

                    return callback();
                });
            };
            var mountStructure = function(callback){
                getData({'entity':'course', 'limit': 9, 'offset': 0 }, function(){
                    getGenericData({'entity':'discipline', 'limit': 9, 'offset': 0 }, function(data){
                        var disciplines = JSON.parse(data);
                        var elementEdit = $('table tr.edit-row');
                        var elements = disciplines.map(function(item,index){
                            return item.name_discipline;
                        });

                        list(elements, function(structure){
                            elementEdit.find('.disciplineEdit').append(structure);
                        });
                    });
                    getGenericData({'entity':'courseDiscipline', 'limit': 9, 'offset': 0 }, function(data){
                        var courseDisciplines = JSON.parse(data);
                        var elementView = $('table tr.view-row');
                        courseDisciplines.forEach(function(item, i){
                            for(var i = 0; i < elementView.length; i++){
                                if(elementView.eq(i).find('.discipline').attr('id') ==  `courseDiscipline${item.id_course}`){
                                    elementView.eq(i).find('.discipline').append(item.name_discipline);
                                }
                            }
                        });
                        console.log(data);
                    });
                });
                return callback();
            };
            var key = true;
            if(key){
                mountStructure(function(){
                    key = false;
                });
            }
        })();
    </script>
</body>

</html>